@use '../../styles' as *;

.planCard {
    width: 372.44px;
    height: 268px;
    border: 1px solid $borderDarkerColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 61px 40px 61px;
    position: relative;
}
