@use '../../styles' as *;

.small {
    font-size: 18px;
}

.medium {
    font-size: 23px;
}

.large {
    font-size: 25px;
}

.fontWeight400 {
    font-weight: 400;
}

.colorGrey300 {
    color: $textGrey-300-Color;
}