@use '../styles' as *;

.section {
    padding: rem(116) rem(285.5) rem(85) rem(152);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: rem(145) rem(76.2) rem(107.5) rem(725.5);

    &__heading {
        grid-column: span 2;
        margin: 0;
    }
    &__paragraph {
        grid-column: span 2;
        margin: 0;
    }
}

.form {
    grid-column: span 2;
    margin-top: rem(47.5);

    &__button {
        display: block;
    }
}
