@use '../styles' as *;

.section {
    padding: rem(117.32) rem(170) rem(142);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 80.7px 138px 345px 158px 74px;

    &__heading {
        grid-column: span 3;
        margin: 0;
    }

    &__paragraph {
        grid-column: span 3;
        margin: 0;
    }

      &__card--last {
        justify-self: end;
    }

    &__card--center {
        justify-self: center;
    }

    &__divider {
        grid-column: span 3;
    }

    &__button {
        grid-column: 3/4;
        justify-self: end;
    }
}

