@use '../styles' as *;

.section {
    padding: rem(116) rem(280) rem(90) rem(152);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: rem(158) rem(123.2) rem(86.2) rem(931.5);

    &__heading {
        grid-column: span 2;
    }

    &__paragraph {
        grid-column: span 2;
    }

    &__image {
        @include image-position;
    }
}

.form {
    grid-column: span 2;

    &__subheading--checkbox {
        margin-top: rem(40);
        margin-bottom: rem(16);
    }

    &__divider {
        margin-top: rem(51.5);
    }

    &__button {
          width: rem(181);
        height: rem(64);
        margin-top: rem(49);
        margin-left: calc(100% - 181px);
    }
}

.label__icon {
    margin-right: 16px;
}

// textarea ma height gdzieś na sztywno ustawiony trzeba zmienić 
// this class can be usefull for mediaqueries
// .checkboxGroup {

// }
