@use '../styles' as *;

.section {
    padding: rem(117.32) rem(170) rem(142);
    display: grid;
    
    grid-template-rows: rem(120) rem(80.7) rem(138) rem(575);

    &__image {
       @include image-position;
    }

    &__paragraph {
        margin: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;

    &__divider {
      margin-top: rem(117);
    }
    
    &__button {
      margin-top: rem(156);
      align-self: end;
    }
}
