@use '../../styles' as *;

.dark {
    color: $blackColor;
}

.grey300 {
    color: $textGrey-300-Color;
    //#5f5f63
}

.grey400 {
    color: $textGrey-400-Color;
    //#636363;
}

.grey700 {
    color: $textGrey-700-Color;
    //#161616;
}

.small {
    font-size: rem(18);
}

.large {
    font-size: rem(23);
}

.xlarge {
    font-size: rem(26.13);
}

.weight400 {
    font-weight: 400;
}

.weight700 {
    font-weight: 700;
}

.weight800 {
    font-weight: 800;
}
