@use '../../styles' as *;

.wrapper {
    width: rem(1705);
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: start;
    background-color: $backgroundColor;
}

.heroImg {
    width: rem(480);
}

