@use '../../styles' as *;

.progressBar {
    width: 507px;
    height: 15px;
    border: 1px solid $borderDarkerColor;
    border-radius: 10px;
}

.innerProgress {
    background: linear-gradient(90deg, #544cf9 0%, #814cf9 100%);
    height: inherit;
    width: 100%;
    border-radius: 10px;
}
